<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
  <link rel = "stylesheet" type = "text/css" href = "/style.css"
</head>
<body>
  <div class= "container">
    <div class = "header">
      <nav>
        <ul>
          <li> <a href = "/pizza-orders"> All Pizza Orders</a></li>

        </ul>
      </nav>
    </div>
    <div class = "left_side"
    <%= yield %>
  </div>
  <div class = "right_side">
    <img href = "../pictures/22637635-happy-pizza-cartoon-with-thumb-up.jpg"
  </div>
  </div>
</body>
</html>
